// 首页
@import '../../default.scss';
.student-home{
  width: 100%;

  .block{
    width: 32%;
    display: inline-block;
    text-align: center;
    border: 1px solid $border;
    padding: 40px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .icon-underway, .icon-nobegin, .icon-score{
    font-size: 50px;
    display: inline-block;
    margin-bottom: 25px;
  }
  .icon-underway{
    color: #67b219;
  }
  .icon-nobegin{
    color: #0692e1;
  }
  .icon-score{
    color: #37c591;
  }

  p{
    line-height: 1.8;
  }
  .a{
    color: $blue;
  }
  .block-underway:hover {
    background: #67b219;
    .icon-underway{
      color:#fff;
    }
    p{
      color: #fff;
    }
  }
  .block-nobegin:hover {
    background: #0692e1;
    .icon-nobegin{
      color:#fff;
    }
    p{
      color: #fff;
    }
  }
  .block-score:hover {
    background: #37c591;
    .icon-score{
      color:#fff;
    }
    p{
      color: #fff;
    }
  }
}