// 首页
@import '../../default.scss';
.home{
    color: $font;
    .home-create{
      display: inline-block;
      width:150px;
      height:115px;
      background: #f8fcff;
      border: 1px solid #cbe8f8;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
    }
    .home-create:hover{
      border: 1px solid $blue;
      background: #ebf6fd;
    }
    .home-icon{
      font-size: 40px;
      margin: 10px 0 18px;
      display: inline-block;
    }
    .home-header{
      margin: 20px 0 20px;
      border-bottom: 1px solid $border;
      padding-bottom: 15px;
      font-size: 16px;
    }
    .home-process{
      display: inline-block;
      .home-process-index{
        font-size: 26px;
        color: $note;
        margin-right: 20px;
      }
      .home-process-sign{
        margin:0 23px;
      }
    }
    .home-guide{
      display: inline-block;
      width: 22%;
      height: 250px;
      margin-right:3%;
      padding: 30px 25px;
      border: 1px solid $border;
      border-radius: 5px;
      text-align: center;
      vertical-align: text-top;
      span{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        color:#fff;
        background:$blue;
        line-height: 30px;
      }
      h3{
        font-size: 16px;
        margin: 20px 0;
      }
      p{
        text-align: left;
        line-height: 1.5;
      }
      .home-p{
        text-indent: 13px;
        position: relative;
      }
      .home-p span{
        width: 4px;
        height: 4px;
        background: $font;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }

  .displayFlx{
    width:'100%';
    display:'flex';
    display:'-webkit-flex';
  }