.task {
  .main-content {
    flex: 1;
    .ant-breadcrumb {
      margin-top: 0;
    }
    .edit-btn {
      position: absolute;
      right: 0;
      top: -13px;
      cursor: pointer;
    }
  }
  .paper-title {
    position: relative;
    font-size: 16px;
    color: #2E313C;
    padding-bottom: 8px;
    border-bottom: 1px solid #E6E9ED;
  }
  .task-content {
    padding-top: 10px;
  }
  .task-row {
    display: flex;
    padding: 10px 0;
  }
  .task-label {
    min-width: 110px;
  }
  .input-item {
    min-height: 32px;
    line-height: 32px;
  }
  .switch-item {
    min-height: 22px;
    line-height: 22px;
  }
  .task-item {
    flex-grow: 1;
    position: relative;
    .paper-info {
      padding-top: 15px;
      color: #aab2bd;
    }
    .participate {
      display: flex;
      span {
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 5px;
      }
    }
    .total {
      .first-span {
        min-width: 100px;
      }
      .total-block {
        border-bottom: 1px solid #e5e9ed;
      }
      .total-block:last-child {
        border-bottom: none;
      }
      .total-top {
        span {
          color: rgba(0, 0, 0, 0.85);
        }
      }
      span {
        border-right: 1px solid #e5e9ed;
        min-width: 150px;
        color: rgba(0, 0, 0, 0.65);
      }
      span:last-child {
        border-right: none;
        background-color: rgba(39, 39, 39, 0.1); // opacity: 0.1;
      }
    }
  }
  .test-title {
    display: inline-block;
    max-width: 389px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .staff-container {
    padding: 10px;
    border: 1px dashed #ccd1d9;
    border-radius: 4px;
    padding-bottom: 0;
  }
  .staff-block {
    padding: 5px 5px;
    background-color: #f5f7fa;
    color: #2e313c;
    margin-right: 10px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
  }
}

.paper-select {
  .ant-radio-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}