$blue: #0692e1;
$red: #f5222d;
$border: #E6E9ED;
$font: #656D78;
$title: #2E313C;
$note: #AAB2BD;
$blue_hover: #1da6f3;
$blue_active: #1da6f3;
.random-exam{
  border: 1px solid $border;
  border-radius:4px;
  .courseName{
    overflow: hidden;
    height: 40px;
    background: rgba(6, 145, 225,.1);
    width: 100%;
  }
  .examtype-name{
    float: left;
    margin-left: 20px;
    line-height: 40px;
  }
  .delete-right{
    line-height: 40px;
    float: right;
    margin-right:20px;
  }
  .question-type{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    border-top:1px solid $border;
    >li{
      float: left;
      text-align: center;
      border-right: 1px solid $border;
      a{
        color:$blue;
        cursor: inherit;
      }
    }
    .type{
      width: 9.3%;
    }
    .question-addnumber{
      width: 25.5%;
    }
    .question-number{
      width: 33.3%;
    }
    .question-score{
      width: 31.9%;
      border-right: none;
    }
  }
}
.inputBox{
  width: 68px;
  height: 36px;
  line-height: 32px;
  float: right;
  .inputLeft{
    float: left;
    margin-top: 3px;
    input{
      width: 48px;
      border-radius: 4px 0 0 4px;
      border-right:none;
    }
  }
  .inputRight{
    float: right;
    margin-top: 3px;
    div{
      display: block;
      border-radius: 0;
      width: 20px;
      height: 16px;
      border: 1px solid $border;
      line-height: 16px;
      text-align: center;
      cursor: pointer;
    }
    div:first-child{
      border-radius:0 4px 0 0;
    }
    div:last-child{
      border-radius:0 0 4px 0;
    }
  }
}
.ant-input-number-handler-wrap{
  opacity: 1;
}
.ant-input-number{
  width: 58px;
}

.random-exam .ant-input-number-input{
  padding: 0 4px;
}
.ant-modal-body .ant-input-number-input{
  padding: 0 4px;
}
.ant-confirm-confirm .ant-confirm-body > .exclamation-red{
  color: #f5222d;
}